[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/public/gem5
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "mcpat"]
	path = mcpat
	url = https://github.com/jimmysitu/mcpat.git
