[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/public/gem5
[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "mcpat"]
	path = mcpat
	url = https://github.com/jimmysitu/mcpat.git
[submodule "gem5-resources"]
	path = gem5-resources
	url = https://gem5.googlesource.com/public/gem5-resources
